body {
    text-align: center;
    font-family: 'Raleway', sans-serif;
        font-size: 20px;
        font-weight: 500;
        background-color: rgb(197, 224, 187);
        color: brown;
}

nav {
    background-color: rgb(192, 178, 178);
    padding: 25px;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;

}

nav a {
    margin: 6px;
    text-decoration: none;
        color: rgb(70, 85, 99);
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding-left: 0;
}

li {
    margin-top: 5px;
}
.facts,
.description,
.habits {
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
    font-size: 20px;
}

section {
    margin: 50px;
}
section h1,
h2 {
    font-size: 22px;
}


.references a {
    font-size: 16px;
}
footer {
    background-color: rgb(192, 178, 178);
    padding: 25px;
    font-size: 22px;

}