body {
    text-align: center;
}


ul {
    list-style-type: none;
    margin: 0 auto;
    padding-left: 0;
}

li {
    margin-top: 5px;
}
.facts,
.description,
.habits {
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
    font-size: 18px;
}

section {
    margin: 50px;
}
section h1,
h2 {
    font-size: 22px;
}


h2 a {
    font-size: 10px;
}