header {
    font-size: 30px;
    margin: 10px;
}

main {
    border: 3px solid black;
    padding: 16px;
}
.name-form {
    margin-bottom: 10px;
}

.checkbox-form {
    margin-top: 10px;
    margin-bottom: 10px;
}